.externalDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.internalDiv{
  display: grid;
  align-content: center;
}

.texto{
  color: #FFFAFA;
  font-size: 30px;
  text-align: center;
  max-height: 20px;
}

.trackCodeInput{
  height: 60px;
  width: 400px;
  font-size: 20px;
}

.trackCodeButton{
  background-color: #6eaf2c;
  height: 62px;
  font-size: 20px;
  border: solid 1px;
  border: transparent;
  cursor: pointer;
}