.externalDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.internalDiv{
  display: grid;
  align-content: center;
}

.divCodeInputButton{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texto{
  color: #FFFAFA;
  font-size: 3vh;
  text-align: center;
}

.trackCodeInput{
  height: 60px;
  width: 40vh;
  font-size: 20px;
}

.trackCodeButton{
  background-color: #6eaf2c;
  height: 65px;
  font-size: 20px;
  border: solid 1px;
  border: transparent;
  cursor: pointer;
}

@media (max-width: 420px) {
  .texto{
    font-size: 2vh;
  }

  .trackCodeInput{
    font-size: 1.7vh;
    width: 27vh;
  }
  .trackCodeButton{
    font-size: 17px;
  }
}