.divFooter h4{
  color: #FFFAFA;
  font-family: Dyuthi;
}

.divFooter footer{
  bottom: 0;
}

.divFooter img{
  width: 30px;
  padding-right: 10px;
}

.divFooter {
  padding: 10px;
  display: block;
}