.navBar{
  display: flex;
}

.navBar a{
  color: #FFFAFA;
  text-decoration: none;
  font-family: Dyuthi;
}
.title{
  background: transparent;
  border: transparent;
  font-size: 45px;
  margin-right: 30px;
}

.textBucaCep{
  background: transparent;
  border: transparent;
  font-size: 35px;
  margin-right: 30px;
  margin-top: 5px;
}

.div{
  display: flex;
  list-style-type: none;
}
.div a{
  margin: 10px;
  font-size: 20px;
}

.navBar li{
  margin-right: 10px;
}

@media (max-width: 600px) {
  .title{
    font-size: 4vh;
  }
  
  .textBucaCep{
    font-size: 3vh;
  }
}