.navBar{
  display: flex;
  background-color: #006400;
  align-items: center;
  flex-wrap: wrap;
}

.navBar a{
  color: #FFFAFA;
  text-decoration: none;
  font-family: Dyuthi;
}
.title{
  font-size: 5vh;
  margin-right: 40px;
}

.textBucaCep{
  font-size: 3vh;
}

.div{
  display: flex;
  list-style-type: none;
}
.div a{
  margin: 10px;
  font-size: 20px;
}

.navBar li{
  margin-right: 10px;
}

@media (max-width: 319px) {
  .title{
    font-size: 3vh;
  }
  
  .textBucaCep{
    font-size: 2vh;
  }
}